/* GENERAL */
body {
  width: 100%;
  height: 100%;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

/* TOP COINTAINER */
.logo-image{
  width: 20%;
  padding: 1% 1%;
}
@media (hover:none), (hover:on-demand){
  .logo{
    text-align: center;
  }
}
.top-container{
  background-image: url(https://images.pexels.com/photos/17663/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
}
@media (hover:none), (hover:on-demand){
  .top-container{

  }
}

.first-block-text{
  text-align: center;
}

.first-title {
  font-size: 100px;
  color: #ffffff;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px #000000;
}
@media (max-width: 800px){
  .first-title{
    font-size: 50px;
  }
}
.blu-description{
  padding: 0 20%;
  font-size: 50px;
  color: #ffffff;
  text-shadow: 1px 1px 1px #000000;
}
@media (max-width: 1000px){
  .blu-description{
    padding: 0 0;
    font-size: 40px;
  }
}
@media (max-width: 800px){
  .blu-description{
    padding: 0 0;
    font-size: 20px;
  }
}

.presentations {
  margin: auto 0 auto 0;
}

/* MIDDLE COINTAINER */
.middle-container {
  text-align: center;
}

.second-title {
  margin: 10% auto auto auto;
  font-family: 'Lato', sans-serif;
  font-size: 100px;
  font-weight: 900;
}
@media (max-width: 900px){
  .second-title{
    font-size: 50px;
  }
}

.profile-pic {
  max-width: 20%;
  max-height: 20%;
  width: auto;
  height: auto;
}
@media (max-width: 900px){
  .profile-pic{
    max-width: 50%;
    max-height: 50%;
  }
}

.name{
  font-size: 60px;
  font-family: 'Courgette', cursive;
}

.member-description{
  font-size: 20px;
  margin: auto 20% auto 20%;
  font-weight: 300;
}

.learn_about_us{
  text-align: center;
}
.learn-button{
  padding: 2% 2%;
  margin: auto auto 20px auto;
  font-size: 30px;
}
@media (max-width: 900px){
  .learn-button{
    margin: 20px auto 20px a;
    padding: 2% 2%;
    font-size: 20px;
  }
}
/* GOOGLE FORM */
.google-form {
  text-align: center;
}

.form-title-background{
  background-image: url(https://images.pexels.com/photos/267885/pexels-photo-267885.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
}
@media (hover:none), (hover:on-demand){
  .form-title-background{
    height: 100%;
  }
}
.form-title{
  background: rgba(0, 0, 0, 0.4);
  padding: 10% 10%;
  color: #71e68c;
  text-align: center;
  margin-top: 20%
}
@media (hover:none), (hover:on-demand){
  .form-title{
    font-size: 150%;
    padding: 10% 10%;
  }
}

.form-button{
  padding: 5% 5%;
  margin: 10% auto 20px auto;
  font-size: 100px;
}
@media (max-width: 900px){
  .form-button{
    margin: 20px auto 20px auto;
    padding: 5% 10%;
    font-size: 40px;
  }
}

/* BOTTOM COINTAINER */
.bottom-container {
  text-align: center;
  background-color: #66BFBF;
  height: 100px;
}

.copyright {
  margin: auto auto 0 auto;
  padding-top: 20px;
  font-size: 50px;
  color: #ffffff;
}
@media (max-width: 900px){
  .copyright{
    font-size: 20px;
  }
}
